*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/**:not(body):not(html) {
  box-sizing: border-box;
  border: 1px dashed #000;
}*/
.container {
  margin: 0;
  padding: 0;
}

ul {
  background: yellow;
  width: 100%;
  height: 70%;
  display: block;
}

.logo {
  background: purple;
  width: 100%;
  height: 150px;
}

.navigation {
  background: teal;
  /*width: 100%;
  height: 500px;*/
  padding-left: 40px;
}

/*.navbar {
  width: 20%;
}*/

.navbar-nav img {
  width: 3em;
}

.jumbotron {
  background: url("../img/cupcakes.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 100%;

}
